* {
  box-sizing: border-box;
}

.clearfix,
.clearfix:after,
.clearfix:before {
  content: "";
  clear: both;
  display: block;
}

body {
  margin: 0;
  padding: 0 30px;
  background-color: steelblue;
}

@media (max-width: 500px){
  body {
    padding: 0 10px;
  }
}

body,
input,
textarea,
button {
  font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #333;
}

#container {
  max-width: 800px;
  margin: 0 auto;
}


/****************   HEADER   ****************/
h1 {
  margin-bottom: 30px;
  font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 3.5rem;
  color: #fff;
}

@media (max-width: 500px){
  h1 {
    font-size: 2.5rem;
  }
}


/****************   POSTS   ****************/
.comment {
  max-width: 800px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  margin-bottom: 15px;
  padding: 30px;
  color: #555;
  animation: comment-slide-l .6s;
  box-shadow: 0 3px 6px -2px rgba(0,0,0,0.8);
}

@media (max-width: 500px){
  .comment {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@keyframes comment-slide-l {
  0% {
    left: -800px;
    opacity: 0;
    transition: ease-in-out;
  }

  100% {
    left: 0;
    opacity: 1;
    transition: ease-in-out;
  }
}


.comment:last-of-type {
  margin-bottom: 30px;
}

@media (max-width: 500px){
  .comment:last-of-type {
    margin-bottom: 15px;
  }
}

.comment:nth-child(odd) {
  background-color: #f0f0f0;
  animation: comment-slide-r .6s;
}

.comment:nth-child(even) {
  background-color: #fff;
}

@keyframes comment-slide-r {
  0% {
    right: -800px;
    opacity: 0;
    transition: ease-in-out;
  }

  100% {
    right: 0;
    opacity: 1;
    transition: ease-in-out;
  }
}

.image {
  flex-shrink: 0;
}

.user-img {
  width: 100%;
}

@media (max-width: 500px){
  .image {
    position: absolute;
    width: 30px;
  }

  .user-image {
    /*display: none;*/
    width: 30px;
    height: 30px;
  }
}

.comment-info {
  margin-left: 30px;
  flex-shrink: 2;
}

@media (max-width: 500px){
  .comment-info {
    margin-left: 0;
  }
}

.comment-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #383331;
}

@media (max-width: 500px){
  .comment-name {
    margin-left: 40px;
  }
}

hr {
  width: 40%;
  margin-left: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 500px){
  hr {
    width: 50%;
  }
}

.timestamp {
  margin-bottom: 0;
  color: #999;
}


/****************   FORM   ****************/
form {
  clear: both;
  max-width: 800px;
  /*margin: 50px auto 30px;*/
  /*margin-top: 50px;*/
  /*margin-bottom: 30px;*/
  padding: 30px;
  background-color: #2C3E50;
}

@media (max-width: 500px){
  form {
    padding: 15px;
  }
}

input, 
textarea,
button {
  display: block;
  border: 0;
  font-size: 1.5rem;
  outline: none;
}

input,
textarea {
  width: 100%;
  margin: 0 auto 15px;
  padding: 10px;
  background-color: #fff;
  transition: background .3s ease-in-out;
}

/*input:focus,
textarea:focus {
  background-color: #fff;
}*/

textarea {
  height: 200px;
  font-weight: 300;
}

button {
  float: right;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #82b446;
  cursor: pointer;
  transition: background .1s ease;
}

@media (max-width: 500px){
  button {
    display: block;
    width: 100%;
  }
}

button:hover {
  background-color: #6e983c;
}
